/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2016, 11:10:57 AM
    Author     : Jorge
*/


body {
    color: white;
    background-image: url("img/Charming-Green-Nature-Desktop-Backgrounds.jpg");
    background-repeat: round;
}

header {
    background: transparent;
    color: white;
    font-style: initial;
    font-weight: bold;
    font-family: serif;
    padding: 20px;
    font-size: 160%;
}

header nav {
    background: limegreen;
    width: 100%;
    box-shadow: 5px 4px 3px cadetblue;
}

header nav ul {
    overflow: hidden;
}

ul {
    list-style: none; 
}

header nav ul li {
    float: left;
}

nav ul li a {
    padding: 10px 15px;
    display: block;
    color: white;
}

header nav ul li a:hover {
    background: greenyellow;
    color: white;
}

aside {
    background: limegreen;
    width: 30%;
    float: left;
    margin: 1.5%;
    padding: 15px 0px;
    box-shadow: 5px 4px 3px cadetblue;
}

aside nav ul li a {
    padding: 1px;
}

aside nav ul li a:hover {
    color: black;
}

a {
    text-decoration: none;
}

p {
    color: black;
}

h1 {
    text-align: left;
    font-size: 200%;
    color: white;
}

#top10 h1 {
    color: black;
    text-align: center;
    font-size: 300%;
}

#top10 {
    width: 65%;
}

#top10 div {
    width: 70%;
    height: auto; 
    margin: 15px;
    position: relative;
    left: 10%;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 100%;
    color: white;
}

section {
    color: white;
    float: left;
    height: auto;
    width: 500px;
}

#logSignIn {
    margin: 3%;
    width: 50%;
    background: limegreen;
    box-shadow: 5px 4px 3px cadetblue;
}

#logSignIn div {
    width: 500px;
    height: auto;
    margin: 20px;
    text-align: left;
    position: relative;
    left: 80px;
}

#categories {
    margin: 10px;
    width: 63%
}

input {
    display: block;
}

form {
    padding: 0px 50px;
}

img {
    width:181px;
    height:140px;
}

header a img {
    float: left;
}

footer {
    clear: both;  
    text-align: center;
    background: limegreen;
    width: 96.5%;
    bottom: 0;
    height: 60px; 
    padding: 5px;
    margin: 1.5%;
    box-shadow: 5px 4px 3px cadetblue;
}

footer div {
    width: 200px;
    height: 50px;
    float: right;
    position: relative;
    bottom: 45px;
}

footer div a  {
    display: inline-block;
}  

section div {
    text-align: center;
    display: block;
    margin: 50px;
    height: 300px;
    width: 200px;
    float: left;    
    background: limegreen;
    box-shadow: 5px 4px 3px cadetblue;
}

#fullProduct {
    width: 90%;
    height: auto; 
}

#fullProduct img {
    width: 60%;
    height: 80%;
}

#fullProduct form {
    position: relative;
    padding: 15px;
    left: 40%;
}

#admin {
    width: 80%;
    margin: 10px 20%;
}

#admin h2 {
    font-size: 40px;
    color: white;
}

#admin div {
    width: 200px;
    height: 150px;
    margin: 20px;
}

#adminFullProduct {
    width: 80%;
    height: auto; 
    margin: 30px 45%;
}

#adminFullProduct input {
    display: inline;
    margin: 20px;
}

#adminCategories {
    width: 90%;
    margin: 10px 13%;
}

#shoppingCar {
    background: limegreen;
    margin: 20px 50px;
    width: 60%;
    height: auto;
    padding: 20px 10px;
    box-shadow: 5px 4px 3px cadetblue;
}

#shoppingCar table {
    background: white;
    color: black;
}

#shoppingCar input {
    display: inline;
}

#button1 {
    position: relative;
    left: 40%;
}

#button2 {
    position: relative;
    left: 55%;
    bottom: 55px;
}

#purchaseProcess {
    background: limegreen;
    right: 400px;
    margin: 40px;
    padding: 10px;
}

#confirmPurchase {
    background: limegreen;
    right: 400px;
    margin: 40px;
    padding: 10px;
}

section form table tr td {
    text-align: center;
}

section form table tr td select {
    float: inside 
}

#purchaseProcess form {
    margin: 15px 50px;
}

#modifyPorduct {
    width: 40%;
    height: auto;
    background: limegreen;
    margin: 5%;
    padding: 20px 60px;
    box-shadow: 5px 4px 3px cadetblue;
    position: relative;
    left: 15%;
}

#modifyPorduct div {
    width: 90%;
    height: auto;
}

#modifyPorduct form {
    width: 50%;
    position: relative;
    left: 5%;
}

#modifyPorduct input {
    width: 70%;
    display: inline;
    margin: 10px 10px;
}
