/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2016, 11:10:57 AM
    Author     : Jorge
*/

body {
    color: black;
    background-image: url("img/18DB0BBB3.png");
}

header {
    background: transparent;
    color: black;
    font-style: initial;
    font-weight: bold;
    font-family: serif;
    padding: 20px;
    font-size: 30px;
}

header nav {
    background: limegreen;
    width: 100%;
    box-shadow: 5px 4px 3px cadetblue;
}

header nav ul {
    overflow: hidden;
}

ul {
    list-style: none; 
}

header nav ul li {
    float: left;
}

nav ul li a {
    padding: 10px 15px;
    display: block;
    color: black;
}

header nav ul li a:hover {
    background: greenyellow;
    color: black;
}

aside {
    background: limegreen;
    width: 20%;
    float: left;
    margin: 1.5%;
    box-shadow: 5px 4px 3px cadetblue;
}

aside nav ul li a {
    padding: 1px;
}

aside nav ul li a:hover {
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    text-align: left;
    font-size: 60px;
    color: #000;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 20px;
    color: black;
}

section {
    color: black;
    float: left;
    height: auto;
    width: 600px;
}

#logIn {
    margin: 5px 160px;
}

#signIn {
    margin: 5px 160px;
}

#categories {
    margin: 10px;
}

input {
    display: block;
}

form {
    padding: 0px 50px;
}

img {
    width:181px;
    height:140px;
}

header a img {
    float: left;
}

footer {
    clear: both;  
    text-align: center;
    background: limegreen;
    width: 96.5%;
    bottom: 0;
    height: 60px; 
    padding: 5px;
    margin: 1.5%;
    box-shadow: 5px 4px 3px cadetblue;
}

footer div {
    width: 200px;
    height: 40px;
    float: right;
    position: relative;
    bottom: 45px;
}

footer div a  {
    display: inline-block;
}

section div {
    text-align: center;
    display: block;
    margin: 50px;
    height: auto;
    width: 200px;
    float: left;    
    background: limegreen;
    box-shadow: 5px 4px 3px cadetblue;
}

