/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2016, 11:10:57 AM
    Author     : Jorge
*/


body {
    color: white;
    background-image: url("img/Charming-Green-Nature-Desktop-Backgrounds.jpg");
    background-repeat: round;
}

header {
    background: transparent;
    width: 95%;
    color: white;
    font-style: initial;
    font-weight: bold;
    font-family: serif;
    padding: 20px;
    font-size: 160%;
}

header nav {
    background: limegreen;
    width: 100%;
    box-shadow: 5px 4px 3px cadetblue;
}

header nav ul {
    overflow: hidden;
}

ul {
    list-style: none; 
}

header nav ul li {
    float: left;
}

nav ul li a {
    padding: 10px 15px;
    display: block;
    color: white;
}

header nav ul li a:hover {
    background: greenyellow;
    color: white;
}

aside {
    background: limegreen;
    width: 20%;
    float: left;
    margin: 1.5%;
    padding: 15px 0px;
    box-shadow: 5px 4px 3px cadetblue;
}

aside h2 {
    font-size: 110%;
    position: relative;
    left: 2%;
}

aside nav ul li a {
    padding: 1px;
}

aside nav ul li a:hover {
    color: black;
}

a {
    text-decoration: none;
}

p {
    color: black;
}

h1 {
    text-align: left;
    font-size: 200%;
    color: white;
}

#top10 h1 {
    color: black;
    text-align: center;
    font-size: 300%;
}

#top10 {
    width: 65%;
}

#top10 div {
    text-align: center;
    width: 50%;
    height: auto; 
    margin: 15px;
    position: relative;
    left: 20%;
    background: limegreen;
    box-shadow: 5px 4px 3px cadetblue;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 100%;
    color: white;
}

section {
    color: white;
    float: left;
    height: auto;
    width: 60%;
}

#logSignIn {
    margin: 3%;
    width: 50%;
    background: limegreen;
    box-shadow: 5px 4px 3px cadetblue;
}

#logSignIn h2 {
    width: 100%;
    position: relative;
    right: 32%;
}

#logSignIn div {
    text-align: left;
    width: 70%;
    height: auto;
    margin: 2%;
    position: relative;
    left: 30%
}

#logSignIn form {
    width: 50%;
    position: relative;
    right: 8%
}

#logSignIn input {
    width: 60%;
}

#categories {
    width: 63%;
    margin: 2%;
}

#categories div {
    text-align: center;
    width: 45%;
    height: 20%;
    background: limegreen;
    margin: 2%;
    float: left;
    display: inline;
    box-shadow: 5px 4px 3px cadetblue;
}

input {
    display: block;
}

form {
    padding: 0px 50px;
}

img {
    width:181px;
    height:140px;
}

header a img {
    float: left;
}

footer {
    clear: both;  
    text-align: center;
    background: limegreen;
    width: 96.5%;
    bottom: 0;
    height: 60px; 
    padding: 5px;
    margin: 1.5%;
    box-shadow: 5px 4px 3px cadetblue;
}

footer div {
    width: 200px;
    height: 50px;
    float: right;
    position: relative;
    bottom: 45px;
}

footer div a  {
    display: inline-block;
}  

footer div a img {
    width: 10%;
    height: 5%;
}

#fullProduct {
    text-align: center;
    width: 90%;
    height: auto; 
    margin: 3%;
    background: limegreen;
    position: relative;
    left: 10%;
    box-shadow: 5px 4px 3px cadetblue;
}

#fullProduct img {
    width: 60%;
    height: 80%;
}

#fullProduct form {
    position: relative;
    padding: 15px;
    left: 40%;
}

#admin {
    width: 70%;
    margin: 10px 20%;
    float: left;
}

#admin h1 {
    text-align: center;
    width: 100%;
}
#admin h2 {
    font-size: 100%;
    color: white;
}

#admin div {
    width: 20%;
    height: 23%;
    margin: 5%;
    background: limegreen;
    float: left;
    display: inline;
    box-shadow: 5px 4px 3px cadetblue;
}

#adminFullProduct {
    width: 40%;
    height: auto; 
    margin: 30px 30%;
    background: limegreen;
}

#adminFullProduct div {
    text-align: center;
}

#adminFullProduct input {
    display: inline;
    margin: 20px;
}

#adminCategories {
    width: 90%;
    margin: 10px 5%;
}

#adminCategories div {
    text-align: center;
    background: limegreen;
    margin: 5%;
    width: 20%;
    height: 40%;
    float: left;
    display: inline;
}

#adminCategories img {
    width: 80%;
}

#shoppingCar {
    background: limegreen;
    margin: 20px 50px;
    width: 60%;
    height: auto;
    padding: 20px 10px;
    box-shadow: 5px 4px 3px cadetblue;
}

#shoppingCar table {
    background: white;
    color: black;
}

#shoppingCar input {
    display: inline;
}

#button1 {
    position: relative;
    left: 40%;
}

#button2 {
    position: relative;
    left: 55%;
    bottom: 55px;
}

#purchaseProcess {
    background: limegreen;
    width: 40%;
    right: 400px;
    margin: 40px;
    padding: 10px;
}

#purchaseProcess form {
    width: 80%;
}

#purchaseProcess input {
    width: 60%;
}

#confirmPurchase {
    background: limegreen;
    right: 400px;
    margin: 40px;
    padding: 10px;
}

section form table tr td {
    text-align: center;
}

section form table tr td select {
    float: inside 
}

#purchaseProcess form {
    margin: 15px 50px;
}

#modifyProduct {
    width: 30%;
    height: auto;
    margin: 5%;
    padding: 20px 15%;
    position: relative;
    left: 15%;
}

#modifyProduct div {
    text-align: center;
    background: limegreen;
    width: 90%;
}

#modifyProduct form {
    width: 75%;
    position: relative;
}

#modifyProduct input {
    width: 50%;
    display: inline;
    margin: 10px 10px;
}

#search {
    width: 80%;
    padding: 1% 10%;
}
#search input {
    width: 100%;
}

#contactUs {
    width: 70%;
    height: auto;
    margin: 2%;
    position: relative;
    left: 9%;
}

#contactUs div {
    width: 80%;
    height: auto;
    background: limegreen;
    box-shadow: 5px 4px 3px cadetblue;
}

#contactUs h3 {
    font-size: 110%;
    padding: 3%;
}

#contactUs form {
    width: 90%;
    padding: 3%;
}

#contactUs input {
    width: 30%;
}

#query {
    width: 90%;
}